*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

/* Nav Bar */

.navbar {
    background: #243B55;
    height: 80px;
    display: flex;
    top: 0;
    z-index: 999;
    position: sticky;
}

.navbar__container {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    background: transparent;
}

#navbar__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 35px;
    font-weight: 700;
    color: #fff;
    justify-content: left;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navber__links {
    display: flex;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    margin-right: 1000pxs;
}

.navbar__links:hover {
    color: #f8e8b5;
    transition: all 0.3s ease;
}


@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #f7bd61;
    }

    .navbar__menu.active {
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 4rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

body {
    background: #fff;
}

.logo {
    font-size: 35px;
    font-weight: 700;
    color: #fff;
    /* background-color: #64b3f4;
    background-image: linear-gradient(to right, #c2e59c 0%, #64b3f4 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; */
    cursor: pointer;
}

.navlist {
    display: flex;

}

.navbar ul li {
    display: inline-block;
    line-height: 80px;
    color: #fff;
    margin-left: 60px;
}

.navbar ul li a {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
}

.navlist a:hover {
    color: #f5de94;
    transition: all 0.35s ease;
}

.logo:hover {
    color: #f5de94;
    transition: all 0.35s ease;
}

#menu-icon {
    color: #fff;
    font-size: 35px;
    z-index: 1000;
    cursor: pointer;
    display: none;
}

.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

@media (max-width: 962px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    .navbar ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    .ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #f5de94;
        top: 80px;
        left: 0;
        text-align: center;
    }

    .navbar ul li {
        display: block;
        padding-right: 100px;
        padding-bottom: 120px;
    }

    .navbar ul li a {
        font-size: 20px;
    }

    a:hover, a.active {
        background: none;
        color: #243B55;
    }
}

/* Hero Section*/

.hero {
    height: 100%;
    width: 100%;
    min-height: 90vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

section {
    padding: 0 12%;
}

.hero-text h4 {
    font-size: 30px;
    font-weight: 400;
    color: #243B55;
    margin-bottom: 10px;
}

.hero-text a {
    font-size: 30px;
    font-weight: 400;
    color: #243B55;
    margin-top: 0px;
}

.hero-text h1 {
    font-size: 50px;
    font-weight: 800;
    color: #243B55;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 15px;
    font-weight: 400;
    color: #243B55;
    margin-bottom: 10px;
    text-decoration: none;
    margin-bottom: 1rem;
    position: relative;
}

.hero-img img {
    width: 600px;
    height: auto;
}

.hero-text a.ctaa {
    background: transparent;
    margin-left: 10px;
}

.hero-text h2 {
    border-bottom: 5px solid #243B55;
    margin-bottom: 15px;
}

.icons {
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translate(-25%, 730%);
}

.icons i {
    margin: 30px 15px;
    font-size: 50px;
    color: #243B55;
    transition: all 0.5s ease;
}

.icons i:hover {
    color: #f5de94;
    transform: translateY(-5px);
}

/* About Section */

.hero-img-about img {
    width:300px;
    height: 300px;
    border:10px solid #ffce81;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    padding: 10px;
}

.about h1 {
    color: #243B55;
    margin-bottom: 10px;
}

.about h2 {
    color: #243B55;
    margin-bottom: -1rem;
    font-size: 20px;
    font-weight: 350;
}

.about p {
    font-size: 15px;
    font-weight: 300;
    color: #243B55;
    text-decoration: none;
    margin-bottom: 1rem;
    position: relative;
    width: 1100px;
    padding: 30px;
}

.skills-text--wrap {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 100%;
    margin-bottom: 1rem;
}

.skills-text h1 {
    font-size: 25px;
    font-weight: 800;
    color: #243B55;
    margin-bottom: 10px;
    position: absolute;

    left: 100px;
}

.skills-text a {
    font-size: 15px;
    font-weight: 300;
    color: #243B55;
    text-decoration: none;
    margin-bottom: 1rem;
    position: relative;
    top: 50px; 
    left: 100px;
}

.skills-text {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -50px;
}

.skills-text--wrap {
    margin: 2.5rem;
    height: 625px;
    width: 370px;
    position: relative;
    color: #243B55;
    right: 100px;
}

/* CONTACT */

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    padding: 40px;
}

.contact h1 {
    color: #243B55;
    font-size: 80px;
    font-weight: 400;
}

.contact h2 {
    color: #243B55;

    font-size: 20px;
    font-weight: 450;
    text-align: left;
    transform: translate(-82%, 1952%);
    align-items: fixed;
}

.contact-text {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: auto;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 700px;
    border-radius: 10px;
    margin-top: 0rem;
}

.contact-text input, .contact-text textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #e4e3e3;
    font-size: 16px;
    border-radius: 10px;
}

.contact-text button {
    padding: 15px;
    background: #ffce81;
    color: #243B55;
    font-size: 20px;
    font-weight: 500;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}

.contact-text button:hover {
    background-color: transparent;
    border: 3px solid #ffce81;
    cursor: pointer;
}

.contact-text button:active {
  background-color: #56f899;
  box-shadow: 0 5px rgb(214, 250, 217);
  border: 3px solid #05e663;
  transform: translateY(3px);
}


.icons-contact {
    position: absolute;
    top: 49%;
    padding: 0 9%;
    transform: translate(-22%, 250%);
}

.icons-contact i {
    display: block;
    margin: 20px 0;
    font-size: 30px;
    font-weight: 420;
    color: #243B55;
    cursor: default;
}

.icons-contact a {
    color: #243B55;
    font-size: 20px;
    font-weight: 420;
    display: flex;
    align-items: center;
    position: relative;
    cursor: default;
}

/* EXPERIENCE */

.experience {
    width: 100%;
    padding: 40px 0px;
}

.experience h1 {
    color: #243B55;
    font-size: 80px;
    font-weight: 400;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
    border-bottom: 3.5px solid #243B55;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card {
    height: 356px;
    width: 335px;
    padding: 20px 35px;
    background: #fcc772;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #243B55;
}

.card h5 {
    color: #fff;
    font-size: 23px;
    margin-bottom: 15px;
}

.pra p {
    color: #243B55;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.download {
    width: 100%;
    padding: 100px 0px;
    margin: 0px auto;
    text-align: center;
    padding: 50px;
}

.download-btn {
    padding: 15px;
    background: #fff;
    color: #243B55; 
    font-size: 20px;
    font-weight: 650;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px; 
    border: 2px solid #243B55;
}

.download-btn:hover {
   background-color: #fcc772;
    border: 2px solid #243B55;
    cursor: pointer;
}

.download-btn:active {
  background-color: #19ce64;
  box-shadow: 0 5px rgb(157, 235, 163);
  border: 3px solid #243B55;
  transform: translateY(3px); 
}

.download p {
    padding: 30px;
}

/* MEDIA */

@media screen and (max-width: 1460px) {
    .section {
        padding: 0 12%;
        transition: 0.2s;
    }
    
    .icons {
        position: absolute;
    }

    .icons-contact {
        position: absolute;
    }
}

@media screen and (max-width: 1340px) {
    .hero-img img {
        width: 100%;
        height: auto;
    }

    .hero-text h1 {
        font-size: 40px;
        margin: 0 0 25px;
    }

    .hero-text h4 {
        margin-bottom: 25px;
    }

    .hero-text h2 {
        margin-bottom: 25px;
    }

    .about-text h1 {
        font-size: 40px;
        margin: 0 0 25px;
    }

    .about-text h2 {
        margin-bottom: 25px;
    }

    .skills-text h1 {
        margin-bottom: 25px;
    }

    .skills-text a {
        margin-bottom: 25px;
    }
    .icons {
        position: absolute;
    }

    .icons-contact {
        position: absolute;
    }
}

@media screen and (max-width: 1195px) {
    section {
        padding: 0 3%;
        transition: 0.2s;
    }

    .hero-text {
        padding-top: 115px;
    }

    .about-text {
        padding-top: 115px;
    }

    .skills-text {
        padding-top: 55px;
    }

    .skills-text--wrap {
        margin: -120px -61px;
        position: sticky;
        text-align: center;
        justify-content: left;
    }

    .skills-text--wrap h1 {
        position: absolute;
        padding-right: 10px;
    }

   .skills-text--wrap a {
        position: relative;
        padding-right: 200px;
    } 

    .about p {
        margin-top: -100px;
        width: 700px;
        margin-bottom: 100px;
    }

    

    .hero-img {
        text-align: center;
    }
    
    .hero-img img {
        width: 400px;
        height: auto;
    }

    .hero {
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }

    .icons {
        display: none;
    }

    .icons-contact {
        display: none;
    }

    .experience {
        padding-top: 150px;
        display: flex;
        height: 3vh;
    }

    .experience h1 {
        font-size: 60px;
        border: 0px;
        margin-top: -100px;
    }

    .card h5 {
        text-align: center;
        position: relative;
    }

    .pra p {
        text-align: center;
        position: relative;
        font-size: 14px;
    }

}

@media screen and (max-width: 500px) {
    section {
        padding: 0 3%;
        transition: 0.2s;
    }

    .hero {
        position: sticky;
    }

    .hero-img img {
        max-width: 400px;
        height: auto;
        align-items: left;
        padding-bottom: 100px;
    }

    .hero-text h1 {
        text-align: left;
        font-size: 25px;

    }

    .hero-text h2 {
        display: none;
    }

    .hero-text a, .hero-text h4 {
        font-size:  16px;
    }

    .hero-text p {
        font-size: 12px;
    }

    .icons {
        display: none;
    }

    /* About */

    .about-text {
        padding-top: 100px;
    }

    .about h1 {
        font-size: 20px;
    }

    .about h2 {
        font-size: 15px;
    }

    .skills-text {
        padding-top: 55px;
        position: sticky;
        padding: 150px;
    }

    .skills-text--wrap {
        margin: -125px -20px;
        text-align: center;
        justify-content: left;
    }

    .hero-img-about img {
        width: 250px;
        height: auto;
    }

    .skills-text--wrap h1 {
        position: absolute;
        padding-right: 10px;
        font-size: 20px;
    }

   .skills-text--wrap a {
        position: relative;
        padding-right: 200px;
        font-size: 13px
    } 

    .about p {
        margin-top: -100px;
        width: 450px;
        margin-bottom: 10px;
        font-size: 13px;
        text-align: center;
    }

    .hero-img {
        text-align: center;
    }
    
    .hero-img img {
        width: 560px;
        height: auto;
    }

    .hero {
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }

    .experience h1 {
        font-size: 50px;
        padding-left: 10px;
    }

    .box {
        display: block;
        padding-left: 21px;
    }

    .card h5 {
        text-align: center;
        position: relative;
    }

    .pra p {
        text-align: center;
        position: relative;
        font-size: 14px;
    }

    .contact {
        height: 80vh;
    }

    .contact h1 {
        font-size: 50px;
    }

    .icons-contact {
        display: none;
    }   
}

